# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [26]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [27]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [28]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [29]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN','NAME'], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [40]:
# Create a list of categorical variables 
categorical_variables =['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','STATUS','SPECIAL_CONSIDERATIONS','INCOME_AMT']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'SPECIAL_CONSIDERATIONS',
 'INCOME_AMT']

In [41]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [42]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data = encoded_data.toarray()

In [43]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns =  enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [44]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_df = applicant_data_df.drop(categorical_variables, axis=1)

encoded_df = pd.concat([numerical_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [45]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [46]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X

,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [47]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [48]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [50]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

117

In [51]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [52]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features * 2/3) + number_output_neurons

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

79.0

In [53]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  int(hidden_nodes_layer1 / 2)

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

39

In [54]:
# Create the Sequential model instance
nn = Sequential()

In [55]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features,activation='relu' ))

In [56]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [57]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation='sigmoid'))

In [58]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 79)                9322

 dense_1 (Dense)             (None, 39)                3120

 dense_2 (Dense)             (None, 1)                 40

=================================================================
Total params: 12,482
Trainable params: 12,482
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [59]:
# Compile the Sequential model
nn.compile(optimizer='adam',
          loss='binary_crossentropy',
          metrics=['accuracy'])

In [60]:
# Fit the model using 50 epochs and the training data
nn.fit(
    X_train_scaled,
    y_train,
    epochs=50,
    verbose=2
)

Epoch 1/50
804/804 - 1s - loss: 0.5757 - accuracy: 0.7196 - 1000ms/epoch - 1ms/step
Epoch 2/50
804/804 - 1s - loss: 0.5538 - accuracy: 0.7290 - 655ms/epoch - 814us/step
Epoch 3/50
804/804 - 1s - loss: 0.5515 - accuracy: 0.7319 - 658ms/epoch - 818us/step
Epoch 4/50
804/804 - 1s - loss: 0.5480 - accuracy: 0.7318 - 638ms/epoch - 793us/step
Epoch 5/50
804/804 - 1s - loss: 0.5473 - accuracy: 0.7328 - 613ms/epoch - 762us/step
Epoch 6/50
804/804 - 1s - loss: 0.5455 - accuracy: 0.7327 - 643ms/epoch - 800us/step
Epoch 7/50
804/804 - 1s - loss: 0.5443 - accuracy: 0.7340 - 650ms/epoch - 808us/step
Epoch 8/50
804/804 - 1s - loss: 0.5435 - accuracy: 0.7349 - 650ms/epoch - 808us/step
Epoch 9/50
804/804 - 1s - loss: 0.5424 - accuracy: 0.7337 - 634ms/epoch - 788us/step
Epoch 10/50
804/804 - 1s - loss: 0.5420 - accuracy: 0.7362 - 618ms/epoch - 769us/step
Epoch 11/50
804/804 - 1s - loss: 0.5408 - accuracy: 0.7358 - 617ms/epoch - 767us/step
Epoch 12/50
804/804 - 1s - loss: 0.5409 - accuracy: 0.7359 - 639ms/epoch - 795us/step
Epoch 13/50
804/804 - 1s - loss: 0.5398 - accuracy: 0.7353 - 634ms/epoch - 788us/step
Epoch 14/50
804/804 - 1s - loss: 0.5392 - accuracy: 0.7362 - 641ms/epoch - 797us/step
Epoch 15/50
804/804 - 1s - loss: 0.5386 - accuracy: 0.7371 - 663ms/epoch - 824us/step
Epoch 16/50
804/804 - 1s - loss: 0.5381 - accuracy: 0.7373 - 623ms/epoch - 775us/step
Epoch 17/50
804/804 - 1s - loss: 0.5385 - accuracy: 0.7374 - 622ms/epoch - 774us/step
Epoch 18/50
804/804 - 1s - loss: 0.5372 - accuracy: 0.7381 - 617ms/epoch - 767us/step
Epoch 19/50
804/804 - 1s - loss: 0.5367 - accuracy: 0.7379 - 622ms/epoch - 774us/step
Epoch 20/50
804/804 - 1s - loss: 0.5372 - accuracy: 0.7380 - 621ms/epoch - 772us/step
Epoch 21/50
804/804 - 1s - loss: 0.5369 - accuracy: 0.7385 - 626ms/epoch - 778us/step
Epoch 22/50
804/804 - 1s - loss: 0.5368 - accuracy: 0.7386 - 621ms/epoch - 772us/step
Epoch 23/50
804/804 - 1s - loss: 0.5361 - accuracy: 0.7388 - 629ms/epoch - 782us/step
Epoch 24/50
804/804 - 1s - loss: 0.5355 - accuracy: 0.7395 - 617ms/epoch - 767us/step
Epoch 25/50
804/804 - 1s - loss: 0.5353 - accuracy: 0.7388 - 623ms/epoch - 775us/step
Epoch 26/50
804/804 - 1s - loss: 0.5355 - accuracy: 0.7393 - 619ms/epoch - 770us/step
Epoch 27/50
804/804 - 1s - loss: 0.5349 - accuracy: 0.7398 - 620ms/epoch - 771us/step
Epoch 28/50
804/804 - 1s - loss: 0.5342 - accuracy: 0.7395 - 625ms/epoch - 777us/step
Epoch 29/50
804/804 - 1s - loss: 0.5345 - accuracy: 0.7400 - 616ms/epoch - 766us/step
Epoch 30/50
804/804 - 1s - loss: 0.5341 - accuracy: 0.7400 - 628ms/epoch - 781us/step
Epoch 31/50
804/804 - 1s - loss: 0.5337 - accuracy: 0.7394 - 626ms/epoch - 778us/step
Epoch 32/50
804/804 - 1s - loss: 0.5338 - accuracy: 0.7394 - 621ms/epoch - 772us/step
Epoch 33/50
804/804 - 1s - loss: 0.5334 - accuracy: 0.7408 - 623ms/epoch - 775us/step
Epoch 34/50
804/804 - 1s - loss: 0.5338 - accuracy: 0.7399 - 617ms/epoch - 767us/step
Epoch 35/50
804/804 - 1s - loss: 0.5334 - accuracy: 0.7399 - 618ms/epoch - 769us/step
Epoch 36/50
804/804 - 1s - loss: 0.5336 - accuracy: 0.7394 - 619ms/epoch - 770us/step
Epoch 37/50
804/804 - 1s - loss: 0.5328 - accuracy: 0.7402 - 618ms/epoch - 769us/step
Epoch 38/50
804/804 - 1s - loss: 0.5328 - accuracy: 0.7412 - 623ms/epoch - 775us/step
Epoch 39/50
804/804 - 1s - loss: 0.5329 - accuracy: 0.7406 - 624ms/epoch - 776us/step
Epoch 40/50
804/804 - 1s - loss: 0.5327 - accuracy: 0.7403 - 633ms/epoch - 787us/step
Epoch 41/50
804/804 - 1s - loss: 0.5329 - accuracy: 0.7402 - 641ms/epoch - 797us/step
Epoch 42/50
804/804 - 1s - loss: 0.5320 - accuracy: 0.7404 - 635ms/epoch - 790us/step
Epoch 43/50
804/804 - 1s - loss: 0.5320 - accuracy: 0.7405 - 638ms/epoch - 793us/step
Epoch 44/50
804/804 - 1s - loss: 0.5324 - accuracy: 0.7408 - 635ms/epoch - 790us/step
Epoch 45/50
804/804 - 1s - loss: 0.5320 - accuracy: 0.7411 - 618ms/epoch - 769us/step
Epoch 46/50
804/804 - 1s - loss: 0.5316 - accuracy: 0.7414 - 623ms/epoch - 775us/step
Epoch 47/50
804/804 - 1s - loss: 0.5316 - accuracy: 0.7416 - 624ms/epoch - 776us/step
Epoch 48/50
804/804 - 1s - loss: 0.5314 - accuracy: 0.7409 - 619ms/epoch - 770us/step
Epoch 49/50
804/804 - 1s - loss: 0.5312 - accuracy: 0.7414 - 622ms/epoch - 774us/step
Epoch 50/50
804/804 - 1s - loss: 0.5308 - accuracy: 0.7423 - 618ms/epoch - 769us/step

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [61]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5558 - accuracy: 0.7305 - 255ms/epoch - 952us/step
Loss: 0.5557990074157715, Accuracy: 0.7304956316947937

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [62]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [63]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [66]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [79]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 50)/2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

83.5

In [80]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [90]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features,activation='relu' ))


# Output layer
# Add the second hidden layer
nn_A1.add(Dense(units=1, activation='sigmoid'))




# Check the structure of the model
nn_A1.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 83)                9794

 dense_12 (Dense)            (None, 39)                3276

 dense_13 (Dense)            (None, 83)                3320

 dense_14 (Dense)            (None, 1)                 84

=================================================================
Total params: 16,474
Trainable params: 16,474
Non-trainable params: 0
_________________________________________________________________

In [84]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [85]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 930us/step - loss: 1.3884 - accuracy: 0.0142
Epoch 2/50
804/804 [==============================] - 1s 963us/step - loss: 0.9460 - accuracy: 0.0362
Epoch 3/50
804/804 [==============================] - 1s 940us/step - loss: 0.8773 - accuracy: 0.0123
Epoch 4/50
804/804 [==============================] - 1s 953us/step - loss: 0.8655 - accuracy: 0.0053
Epoch 5/50
804/804 [==============================] - 1s 928us/step - loss: 0.8298 - accuracy: 0.0131
Epoch 6/50
804/804 [==============================] - 1s 938us/step - loss: 0.8257 - accuracy: 0.0042
Epoch 7/50
804/804 [==============================] - 1s 927us/step - loss: 0.8188 - accuracy: 0.0088
Epoch 8/50
804/804 [==============================] - 1s 932us/step - loss: 0.7934 - accuracy: 0.0178
Epoch 9/50
804/804 [==============================] - 1s 931us/step - loss: 0.7499 - accuracy: 0.0139
Epoch 10/50
804/804 [==============================] - 1s 938us/step - loss: 0.7281 - accuracy: 0.0174
Epoch 11/50
804/804 [==============================] - 1s 931us/step - loss: 0.7123 - accuracy: 0.0177
Epoch 12/50
804/804 [==============================] - 1s 932us/step - loss: 0.6986 - accuracy: 0.0386
Epoch 13/50
804/804 [==============================] - 1s 936us/step - loss: 0.6902 - accuracy: 0.0353
Epoch 14/50
804/804 [==============================] - 1s 932us/step - loss: 0.6903 - accuracy: 0.0677
Epoch 15/50
804/804 [==============================] - 1s 928us/step - loss: 0.6887 - accuracy: 0.0756
Epoch 16/50
804/804 [==============================] - 1s 928us/step - loss: 0.6803 - accuracy: 0.0951
Epoch 17/50
804/804 [==============================] - 1s 926us/step - loss: 0.6751 - accuracy: 0.0556
Epoch 18/50
804/804 [==============================] - 1s 946us/step - loss: 0.6824 - accuracy: 0.0094
Epoch 19/50
804/804 [==============================] - 1s 932us/step - loss: 0.6650 - accuracy: 0.0203
Epoch 20/50
804/804 [==============================] - 1s 928us/step - loss: 0.6509 - accuracy: 0.0235
Epoch 21/50
804/804 [==============================] - 1s 932us/step - loss: 0.6453 - accuracy: 0.0531
Epoch 22/50
804/804 [==============================] - 1s 937us/step - loss: 0.6403 - accuracy: 0.0618
Epoch 23/50
804/804 [==============================] - 1s 928us/step - loss: 0.6523 - accuracy: 0.0445
Epoch 24/50
804/804 [==============================] - 1s 922us/step - loss: 0.6351 - accuracy: 0.0238
Epoch 25/50
804/804 [==============================] - 1s 932us/step - loss: 0.6388 - accuracy: 0.1997
Epoch 26/50
804/804 [==============================] - 1s 938us/step - loss: 0.6334 - accuracy: 0.1490
Epoch 27/50
804/804 [==============================] - 1s 933us/step - loss: 0.6320 - accuracy: 0.1313
Epoch 28/50
804/804 [==============================] - 1s 940us/step - loss: 0.6295 - accuracy: 0.0989
Epoch 29/50
804/804 [==============================] - 1s 967us/step - loss: 0.6332 - accuracy: 0.1192
Epoch 30/50
804/804 [==============================] - 1s 941us/step - loss: 0.6265 - accuracy: 0.0501
Epoch 31/50
804/804 [==============================] - 1s 926us/step - loss: 0.6191 - accuracy: 0.0506
Epoch 32/50
804/804 [==============================] - 1s 938us/step - loss: 0.6266 - accuracy: 0.0224
Epoch 33/50
804/804 [==============================] - 1s 927us/step - loss: 0.6248 - accuracy: 0.0296
Epoch 34/50
804/804 [==============================] - 1s 923us/step - loss: 0.6230 - accuracy: 0.0225
Epoch 35/50
804/804 [==============================] - 1s 926us/step - loss: 0.6198 - accuracy: 0.0232
Epoch 36/50
804/804 [==============================] - 1s 928us/step - loss: 0.6124 - accuracy: 0.0451
Epoch 37/50
804/804 [==============================] - 1s 937us/step - loss: 0.6109 - accuracy: 0.0253
Epoch 38/50
804/804 [==============================] - 1s 946us/step - loss: 0.6140 - accuracy: 0.0305
Epoch 39/50
804/804 [==============================] - 1s 947us/step - loss: 0.6095 - accuracy: 0.0870
Epoch 40/50
804/804 [==============================] - 1s 930us/step - loss: 0.6130 - accuracy: 0.0777
Epoch 41/50
804/804 [==============================] - 1s 930us/step - loss: 0.6142 - accuracy: 0.0423
Epoch 42/50
804/804 [==============================] - 1s 927us/step - loss: 0.6121 - accuracy: 0.0515
Epoch 43/50
804/804 [==============================] - 1s 922us/step - loss: 0.6197 - accuracy: 0.0759
Epoch 44/50
804/804 [==============================] - 1s 932us/step - loss: 0.6101 - accuracy: 0.0722
Epoch 45/50
804/804 [==============================] - 1s 930us/step - loss: 0.6148 - accuracy: 0.0331
Epoch 46/50
804/804 [==============================] - 1s 931us/step - loss: 0.6141 - accuracy: 0.0124
Epoch 47/50
804/804 [==============================] - 1s 936us/step - loss: 0.6158 - accuracy: 0.0083
Epoch 48/50
804/804 [==============================] - 1s 945us/step - loss: 0.6198 - accuracy: 0.0208
Epoch 49/50
804/804 [==============================] - 1s 927us/step - loss: 0.6185 - accuracy: 0.0083
Epoch 50/50
804/804 [==============================] - 1s 926us/step - loss: 0.6236 - accuracy: 0.0068

#### Alternative Model 2

In [86]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [87]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [88]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 =  (number_input_features + 100)/2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

108.5

In [89]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [91]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features,activation='relu' ))

# Output layer
nn_A2.add(Dense(units=1, activation='sigmoid'))



# Check the structure of the model
nn_A2.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 108)               12744

 dense_16 (Dense)            (None, 1)                 109

=================================================================
Total params: 12,853
Trainable params: 12,853
Non-trainable params: 0
_________________________________________________________________

In [92]:
# Compile the model
nn_A2.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [93]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 787us/step - loss: 0.5829 - accuracy: 0.7168
Epoch 2/50
804/804 [==============================] - 1s 806us/step - loss: 0.5585 - accuracy: 0.7277
Epoch 3/50
804/804 [==============================] - 1s 803us/step - loss: 0.5559 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 1s 797us/step - loss: 0.5535 - accuracy: 0.7303
Epoch 5/50
804/804 [==============================] - 1s 798us/step - loss: 0.5505 - accuracy: 0.7315
Epoch 6/50
804/804 [==============================] - 1s 796us/step - loss: 0.5499 - accuracy: 0.7299
Epoch 7/50
804/804 [==============================] - 1s 791us/step - loss: 0.5492 - accuracy: 0.7323
Epoch 8/50
804/804 [==============================] - 1s 833us/step - loss: 0.5484 - accuracy: 0.7322
Epoch 9/50
804/804 [==============================] - 1s 807us/step - loss: 0.5472 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 1s 824us/step - loss: 0.5467 - accuracy: 0.7335
Epoch 11/50
804/804 [==============================] - 1s 798us/step - loss: 0.5461 - accuracy: 0.7320
Epoch 12/50
804/804 [==============================] - 1s 801us/step - loss: 0.5460 - accuracy: 0.7342
Epoch 13/50
804/804 [==============================] - 1s 789us/step - loss: 0.5448 - accuracy: 0.7328
Epoch 14/50
804/804 [==============================] - 1s 816us/step - loss: 0.5452 - accuracy: 0.7328
Epoch 15/50
804/804 [==============================] - 1s 803us/step - loss: 0.5442 - accuracy: 0.7343
Epoch 16/50
804/804 [==============================] - 1s 815us/step - loss: 0.5441 - accuracy: 0.7358
Epoch 17/50
804/804 [==============================] - 1s 794us/step - loss: 0.5440 - accuracy: 0.7351
Epoch 18/50
804/804 [==============================] - 1s 791us/step - loss: 0.5433 - accuracy: 0.7357
Epoch 19/50
804/804 [==============================] - 1s 799us/step - loss: 0.5425 - accuracy: 0.7340
Epoch 20/50
804/804 [==============================] - 1s 802us/step - loss: 0.5425 - accuracy: 0.7363
Epoch 21/50
804/804 [==============================] - 1s 794us/step - loss: 0.5423 - accuracy: 0.7336
Epoch 22/50
804/804 [==============================] - 1s 804us/step - loss: 0.5418 - accuracy: 0.7341
Epoch 23/50
804/804 [==============================] - 1s 807us/step - loss: 0.5430 - accuracy: 0.7346
Epoch 24/50
804/804 [==============================] - 1s 830us/step - loss: 0.5415 - accuracy: 0.7346
Epoch 25/50
804/804 [==============================] - 1s 808us/step - loss: 0.5410 - accuracy: 0.7347
Epoch 26/50
804/804 [==============================] - 1s 873us/step - loss: 0.5413 - accuracy: 0.7355
Epoch 27/50
804/804 [==============================] - 1s 854us/step - loss: 0.5407 - accuracy: 0.7352
Epoch 28/50
804/804 [==============================] - 1s 873us/step - loss: 0.5406 - accuracy: 0.7356
Epoch 29/50
804/804 [==============================] - 1s 838us/step - loss: 0.5410 - accuracy: 0.7355
Epoch 30/50
804/804 [==============================] - 1s 806us/step - loss: 0.5401 - accuracy: 0.7346
Epoch 31/50
804/804 [==============================] - 1s 792us/step - loss: 0.5404 - accuracy: 0.7355
Epoch 32/50
804/804 [==============================] - 1s 854us/step - loss: 0.5397 - accuracy: 0.7362
Epoch 33/50
804/804 [==============================] - 1s 858us/step - loss: 0.5407 - accuracy: 0.7357
Epoch 34/50
804/804 [==============================] - 1s 828us/step - loss: 0.5393 - accuracy: 0.7368
Epoch 35/50
804/804 [==============================] - 1s 789us/step - loss: 0.5403 - accuracy: 0.7362
Epoch 36/50
804/804 [==============================] - 1s 802us/step - loss: 0.5400 - accuracy: 0.7362
Epoch 37/50
804/804 [==============================] - 1s 789us/step - loss: 0.5393 - accuracy: 0.7367
Epoch 38/50
804/804 [==============================] - 1s 783us/step - loss: 0.5391 - accuracy: 0.7371
Epoch 39/50
804/804 [==============================] - 1s 794us/step - loss: 0.5390 - accuracy: 0.7364
Epoch 40/50
804/804 [==============================] - 1s 815us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 41/50
804/804 [==============================] - 1s 829us/step - loss: 0.5387 - accuracy: 0.7361
Epoch 42/50
804/804 [==============================] - 1s 817us/step - loss: 0.5388 - accuracy: 0.7349
Epoch 43/50
804/804 [==============================] - 1s 817us/step - loss: 0.5383 - accuracy: 0.7357
Epoch 44/50
804/804 [==============================] - 1s 802us/step - loss: 0.5388 - accuracy: 0.7366
Epoch 45/50
804/804 [==============================] - 1s 824us/step - loss: 0.5418 - accuracy: 0.7382
Epoch 46/50
804/804 [==============================] - 1s 806us/step - loss: 0.5381 - accuracy: 0.7372
Epoch 47/50
804/804 [==============================] - 1s 804us/step - loss: 0.5383 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 1s 799us/step - loss: 0.5382 - accuracy: 0.7381
Epoch 49/50
804/804 [==============================] - 1s 843us/step - loss: 0.5378 - accuracy: 0.7378
Epoch 50/50
804/804 [==============================] - 1s 820us/step - loss: 0.5381 - accuracy: 0.7380

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [94]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5558 - accuracy: 0.7305 - 166ms/epoch - 621us/step
Loss: 0.5557990074157715, Accuracy: 0.7304956316947937

In [95]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6818 - accuracy: 0.4708 - 255ms/epoch - 952us/step
Loss: 0.6817855834960938, Accuracy: 0.4707871675491333

In [96]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5636 - accuracy: 0.7294 - 210ms/epoch - 785us/step
Loss: 0.5636405944824219, Accuracy: 0.7294460535049438

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE